<div class="top-table">
  <div class="search-table">
    <app-search-input
      (searchChange)="onSearchChange($event)"></app-search-input>
  </div>
  <div class="add-table">
    <button class="add-button" id="add-button" (click)="navigateToAddProduct()">
      Agregar
    </button>
  </div>
</div>

<div class="custom-table">
  <div class="table-responsive custom-table">
    <table class="table">
      <thead>
        <tr>
          <th class="table-header-logo">Logo</th>
          <th class="table-header-product">Nombre del producto</th>
          <th class="table-header-description">
            Descripción
            <app-tooltip-icon [tooltipText]="'Descripción'"></app-tooltip-icon>
          </th>
          <th class="table-header-release">
            Fecha de liberación
            <app-tooltip-icon
              [tooltipText]="'Fecha de liberación'"></app-tooltip-icon>
          </th>
          <th class="table-header-revision">
            Fecha de reestructuración
            <app-tooltip-icon
              [tooltipText]="'Fecha de reestructuración'"></app-tooltip-icon>
          </th>
          <th class="table-header-menu"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of displayedProducts">
          <td class="table-data-logo">
            <img
              class="product-logo"
              [src]="
                isValidUrl(product.logo)
                  ? product.logo
                  : '../../../../assets/images/no-image.png'
              "
              alt="Product Logo" />
          </td>
          <td class="table-data-product">{{ product.name }}</td>
          <td class="table-data-description">{{ product.description }}</td>
          <td class="table-data-release">
            {{ product.date_release | date: 'mediumDate' }}
          </td>
          <td class="table-data-revision">
            {{ product.date_revision | date: 'mediumDate' }}
          </td>
          <td class="table-menu">
            <div class="dropdown">
              <button
                class="dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                ⋮
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a
                  class="dropdown-item edit-item"
                  id="edit-item"
                  href="/financial-products/product-register"
                  (click)="navigateToEditProduct(product)"
                  >Edit</a
                >
                <a
                  class="dropdown-item delete-item"
                  id="delete-item"
                  [routerLink]=""
                  (click)="deleteProduct(product.id)"
                  >Remove</a
                >
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-container">
    <app-pagination-control
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      [pageSize]="itemsPerPage"
      [totalResults]="totalResults"
      (pageChanged)="onPageChanged($event)"
      (pageSizeChange)="onPageSizeChange($event)">
    </app-pagination-control>
  </div>
</div>
