@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.custom-table .table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.table-responsive.custom-table {
  padding: 1rem;
  margin-top: 1rem;
}

.custom-table .table thead th {
  background-color: #f8f9fa;
  color: #333;
  text-align: left;
  padding: 12px;
  border-bottom: 2px solid #eaeaea;
  text-wrap: nowrap;
}

.custom-table .table tbody td {
  padding: 12px;
  border-bottom: 1px solid #eaeaea;
  color: #555;
}

.custom-table .table tbody tr:last-child td {
  border-bottom: none;
}

.custom-table .product-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.custom-table .table tbody tr:hover {
  background-color: #f5f5f5;
}

.add-button {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.table-responsive.custom-table {
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translateX(-75%);
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.pagination-container {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
}

.top-table {
  display: flex;
  justify-content: space-between;
}

.add-button {
  background-color: #ffe600;
  color: black;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.add-button:hover {
  opacity: 0.8;
}

button#dropdownMenuButton {
  padding: 0.5rem 0.9rem;
  border: none;
  font-weight: bold;
  background-color: #fff;
  font-size: 20px;
  color: #555;
}
