<div class="pagination-control">
  <div class="total-results">{{ totalResults }} Resultados</div>

  <div class="page-navigation">
    <button
      class="nav-button"
      id="previuos-page"
      (click)="onPrevious()"
      [disabled]="currentPage <= 1">
      Prev
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button
      class="nav-button"
      id="next-page"
      (click)="onNext()"
      [disabled]="currentPage >= totalPages">
      Next
    </button>
  </div>

  <div class="page-size">
    <select
      id="page-selector"
      name="page-selector"
      (change)="onPageSizeChange($event)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
  </div>
</div>
